body {
   padding: 0;
   margin: 0;
   font-family: Arial Unicode MS;
 }
 .bg-blur{
   background: #000;
   background-image: url("http://localhost/BDO/assets/img/BDO_bldg.jpg");
   
   filter: blur(10px);
 
   /* Full height */
   height: 955px;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

 }
div#Layer1{
   background: #fff;
   background-size: cover;
   width: 700px;
   height: 350px;
   margin: auto;
   position: absolute;
   top: 30%;
   left: 33.3333%;
   border-radius: 15px;
   box-shadow: 5px 5px 20px #0000008f;
}
div#Layer1>div:nth-child(1){
   background: #0b2972;
   width: 49.7%;
   display: inline-block;
   height: 100%;
   position: relative;
   border-radius: 13px 0 0 13px;
}
.r_logo{
   position: absolute;
   top: 35%;
   left: 30%;
   width: 150px;
}
/*diri ta magstart edit sa right*/
div#Layer1>div:nth-child(2){
   //background: yellow;
   width: 49.7%;
   display: inline-block;
   height: 100%;
   position: absolute;
   color: #787878;
}
/*button close*/
.x{
   //background: red;
   width: 30px;
   position: absolute;
   right:0;
   top: 0px;
}
.x>a{
   width: 10px;
   display: inline-block;
   transform: rotate(45deg);
   text-decoration: none;
   color: #787878;
   font-size: 38px;
   font-weight: 100;
}
 /***** end button close*******/
 p.rh_top{
   //background: red;
   font-size: 25px;
   text-align: center;
   margin-top: 18%;
   letter-spacing: px;
 }
 form#m_form{
   //background: green;
   width: 80%;
   margin: auto;
 }
 form#m_form>p{
   margin: 0;
   font-size: 17px;
   margin: 5px 0;
 }
 form#m_form>input{
   width: 99%;
   margin: 0;
   padding: 10px 0;
   border: 1px solid #787878;
   border-radius: 5px;
 }
 div#login{
   text-align: center;
   padding-top: 20px;
   //background: red;
   width: 80px;
   margin: auto;
 }
 div#login>input{
   padding: 8px 0;
   width: 100%;
   text-align: center;
   border: none;
   border-radius: 4px;
   font-weight: bold;
   color: #fff;
   background: #0b2972;
 }