body{
    margin: 0;
    padding: 0;
}
div#bg-image {
    height: 1000px;
    //background:red;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    filter: blur(20px);
    //-webkit-filter: blur(8px);
  
}
div.main{
    background: #004EA8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 680px;
    height: 380px;
    border-radius: 18px;
    padding: 0px;
    text-align: center;
}
div.main>div:nth-child(1){
    display: none;
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    background: blue;
}
div.main>div:nth-child(1)>img{
    background: pink;
    width: 100px;
}
div.l_main{
    display: inline-block;
    width: 49.5%;
    background:red;
    }
div.r_main{
    display: inline-block;
    width: 49.5%;
    background: red;
}
div.l_main>div{
    background-color: yellow;
    width: 90%;
    //margin:169px 0;
    display: inline-block;
    height: 380px;
}
div.r_main>div{
    background-color: orange;
    width: 90%;
    display: inline-block;
    height: 380px;
}
