body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
div.center{
    //background: red;
    position: relative;
    width: 70%;
    height: auto;
    margin: auto;
    
}
.sub_blur{
    background: blue;
    height: 200px;
    position: relative;
}
div.center>div:nth-child(1){
    //background: green;
    width: 49.8%;
    display: inline-block;
}
div.center>div:nth-child(1)>img{
    width: 120px;
}
div.center>div:nth-child(2){
    //background: orange;
    width: 49.8%;
    height: auto;
    display: inline-block;
    text-align: right;
    position: absolute;
    padding: 8px 0;
}
a{
    text-decoration: none;
    color: #fff;
}
div.center>div:nth-child(2)>button{
    background: #ffb20c;
    border: none;
    padding: 7px 13px;
    color: #fff;
    font-weight: bold;
    border-radius: 13px;
}
div#client_list{
    font-family: arial;
    font-size: 15px;
    background: f2f2f2;
    height: 700px;
    color: #707070;
    border: 2px solid #0b2972;
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px 40px;
}
div#client_list>p:nth-child(1){
    //background: green;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 10px;

}
div#client_list>div{
    background: red;
    height: 100px;
    overflow: auto;
}
/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 16px;
    margin: 90px;
}

/* Track */
::-webkit-scrollbar-track {
    background: red;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}