body {
   padding: 0;
   margin: 0;
 }
 .bg-blur{
   background: #000;
   background-image: url("http://localhost/BDO/assets/img/BDO_bldg.jpg");
   
   filter: blur(10px);
 
   /* Full height */
   height: 955px;
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

 }
div#Layer1{
   background: #0b2972;
   background-size: cover;
   width: 700px;
   height: 350px;
   margin: auto;
   position: absolute;
   top: 30%;
   left: 33.3333%;
   border-radius: 15px;
   box-shadow: 5px 5px 20px #0000008f;
}
div#Layer1>div:nth-child(1){
   background: #fff;
   width: 49.7%;
   display: inline-block;
   height: 100%;
   position: relative;
   border-radius: 15px 0 0 15px;
}
div#Layer1>div:nth-child(2){
   //background: yellow;
   width: 49.7%;
   display: inline-block;
   height: 100%;
}
div#Layer1>div:nth-child(1)>div{
   //background-color: blue;
   //height: 100%;
   width: 50%;
   margin: auto;
   margin-top: 110px;
}
a{
   background-color: #fdb913;
   display: block;
   text-align: center;
   margin: 30px 0;
   padding: 15px 0;
   width: 100%;
   border-radius: 10px;
   box-shadow: 0px 0px 15px #0000008f;
   color: #0b2972;
   text-decoration: none;
   font-family: arial;
   font-weight: bolder;
   font-size: 14px;
}
.r_logo{
   margin-left: 28%;
   width: 150px;
}